* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
  background-color: rgb(26, 31, 26);
}

.container {
  background-color: rgb(26, 31, 26);
}

.container_1 {
  background-color: rgb(26, 31, 26);
  margin-top: 150px;
}

.container_2 {
  display: flex;
  /* margin: 0px 90px; */

  justify-content: space-evenly;
  /* gap: 20px 100px; */
  /* border: solid 2px red; */
  flex-shrink: inherit;
}

.container_3 {
  /* border: 2px green solid; */
  font-family: "Manrope", sans-serif;
  /* background-color: rgb(26, 31, 26); */
  background-color: rgb(26, 31, 26);
}

header h1 {
  font-size: 3rem;
  background-color: rgb(26, 31, 26);
  color: white;
}

header p {
  font-weight: 600;
  color: white;
  background-color: rgb(26, 31, 26);
  font-size: 15px;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  padding: 15px 5px;
  background-color: rgb(249, 250, 249);
}

.form input {
  border: none;
  /* width: 60%; */
  /* height: 90%; */
  outline: none;
  background-color: white;
  margin-right: 160px;
  padding: 10px 5px;
}

.form svg {
  background-color: white;
}

input[placeholder*="Email Address"] {
  color: red;
  font-size: 16px;
}

.submit {
  padding: 0.5rem 2rem;
  /* margin-left: 10px; */
  /* padding-right: 30px; */
  text-align: center;
  color: white;
  background-color: rgb(82, 163, 80);
  border: none;
  cursor: pointer;
}

.container_4 {
  /* border: 2px solid blue; */
  margin-top: auto;
  background-color: rgb(26, 31, 26);
}

.container_4 h2 {
  margin-bottom: 2.5rem;
  color: rgb(249, 250, 249);
  background-color: rgb(26, 31, 26);
  font-family: "Manrope", sans-serif;
  font-size: 30px;
  font-weight: 700;
}

.container_5 .btn {
  padding: 10px 20px;
  background-color: rgb(82, 163, 80);
  border: none;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  margin-left: 10px;
}

.container_5 .btn a {
  text-decoration: none;
  color: rgb(249, 250, 249);
  font-family: "Manrope", sans-serif;
  font-size: 17px;
  background-color: rgb(82, 163, 80);
}

.container_5 .btn a svg {
  /* color: red; */
  margin: -2px 10px;
  background-color: rgb(82, 163, 80);
}

.container-1 {
  display: flex;
  /* border: 2px red solid; */
  justify-content: space-between;
  background-color: rgb(26, 31, 26);
  margin: 0px 90px;
  margin-top: 60px;
}

.container-2 {
  /* border: 2px solid green; */
  /* padding: 20px; */
  /* margin-right: 600px; */
}

.container-3 {
  display: flex;
  gap: 20px;
}

.container-3 p {
  text-align: center;
  margin: 25px 0px;
  font-family: "Manrope", sans-serif;
  color: rgb(249, 250, 249);
  font-weight: 600;
}

.paragrapy {
  color: rgb(249, 250, 249);
  opacity: 0.5;
  font-family: "Manrope", sans-serif;
  font-size: 12px;
  /* margin-right: 600px; */
  /* padding: 30px 0px; */
  padding-top: 20px;
  padding-bottom: 30px;
}

.paragrapy-2 {
  padding: 10px 0px;
}

.paragrapy-2 a {
  color: rgb(82, 163, 80);
  font-size: 17px;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  /* padding: 10px 0px; */
}

.paragrapy-2 svg {
  color: rgb(82, 163, 80);
}

.container-4 {
  /* border: 2px solid rgb(224, 27, 60); */
  display: flex;
  justify-content: space-between;
  width: 38%;
  /* gap: 250px; */
}

.container-4 h3 {
  text-transform: uppercase;
  color: rgb(249, 250, 249);
  font-size: 15px;
  font-weight: 600;
  padding: 15px 0px;
}

.fotter_container ul {
  list-style: none;
}

.fotter_container ul a {
  text-decoration: none;
  color: rgb(249, 250, 249);
  font-size: 10px;
}

.last-heading {
  color: white;
  opacity: 0.4;
  padding-left: 80px;
  font-size: 12px;
  margin-top: 30px;
}

@media (max-width: 760px) {

  .container_1 {
    background-color: rgb(26, 31, 26);
    margin-top: 150px;
    margin-left: 25px;
    margin-right: 25px;
  }
  .container_2 {
    display: flex;
    flex-direction: column;
    gap: 80px;
    justify-content: space-evenly;
    flex-shrink: inherit;
  }

  header h1 {
    font-size: 2rem;
    background-color: rgb(26, 31, 26);
    color: white;
  }

  .form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 15px 5px;
    background-color: rgb(249, 250, 249);
  }

  .form input {
    width: 38%;
  }

  .submit {
    padding: 0.5rem 2rem;
    position: absolute;
    right: 33px;
    /* margin-left: 10px; */
    /* padding-right: 30px; */
    text-align: center;
    color: white;
    background-color: rgb(82, 163, 80);
    border: none;
    cursor: pointer;
  }

  .container_5 {
    display: flex;
    gap: 8px;
    /* padding: 8px 10px; */
  }

  
.container_5 .btn {
  margin-left: 0px;
  padding: 8px 10px;
  background-color: rgb(82, 163, 80);
  border: none;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  display: flex;
}

.container_5 .btn a  {
  display: flex;
  /* background-color: red; */
}

.container_5 .btn a svg {
  margin: 1px 1px;
  display: flex;
  margin-right: 3px;
  margin-top: 3px;
}

  
}